.wrapper{
    width: auto;
    min-height: 100vh;
    padding: 20px;
    background-color: #f3f3f4;
}

.containner{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,.12);
}

.title{
    padding: 10px;
    margin: 0;
    font-size: 16px;
    color: #666666;
}

.box{
    padding: 10px;
}